<launch>

  <arg name="model" default="$(find wpv4_bringup)/urdf/wpv4_track_wpm2.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpv4_bringup)/rviz/mani.rviz" />

  <!-- wpv4 core-->
  <node pkg="wpv4_bringup" type="wpv4_core" name="wpv4_core" output="screen">
      <param name="serial_port" type="string" value="/dev/wpv4_base"/> 
      <param name="chassis_type" type="string" value="track"/> 
      <param name="joint_state" type="bool" value="true"/> 
  </node>

  <!-- wpm2 core-->
  <node name="wpm2_core" pkg="wpm2_bringup" type="wpm2_core" output="screen">
      <param name="serial_port" type="string" value="/dev/wpv4_mani"/> 
  </node>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
