<launch>

  <arg name="model" default="$(find wpv4_bringup)/urdf/wpv4_m2.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpv4_bringup)/rviz/K_L.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam command="load" file="$(find v4m2_moveit_config)/config/v4m2_zeros.yaml" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
