<launch>

  <arg name="model" default="$(find wpv4_bringup)/urdf/wpv4.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpv4_bringup)/rviz/urdf.rviz" />
  <param name="/use_sim_time" value="true"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="1"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 --clock /home/jay/kitti/kitti_2011_09_26_drive_0005_sync.bag"/>

</launch>
